.smallFont{    
    font-size: small;
    
}

.blackBorder{
    color: rgb(147, 147, 147);
    margin-left: 10%;
    /* border: 1px solid  rgb(147, 147, 147); */
    /* border-bottom: 1px solid #ccc; */
    max-width: fit-content;
    margin-bottom: 0.5%;
}

.separation{
    border-top: 1px solid #ccc;
    width: 100%;
}