.addPadding{
    padding-left: 5%;
    width: 100%;
    text-align: left;
}
.lookLikeLWC {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}